<div class="nav-components">
  <h3 class="nav-title">Start here</h3>
  {{#each (pick site.components "skalenetwork")}}
  {{> navigation-component }}
  {{/each}}

  <h3 class="nav-title">dApp Developers</h3>
  {{#each (pick site.components "filestorage.js")}}
  {{> navigation-component }}
  {{/each}}
  {{#each (pick site.components "ima")}}
  {{> navigation-component }}
  {{/each}}

  <h3 class="nav-title">Technology</h3>
  {{#each (pick site.components "skaled")}}
  {{> navigation-component }}
  {{/each}}
</div>